{
	"client": {
		"name": "your.host.name",
		"address": "127.0.0.1",
		"subscriptions": ["all"],
		"version": "0.14.0"
	},
	"rabbitmq": {
		"host": "remote.rabbitmq.server",
		"port": 5672,
		"user": "guest",
		"password": "guest",
		"vhost": "/sensu"
	},
   "checks":{  
      "cpu_metrics":{  
         "type":"metric",
         "command":"cpu-metrics.rb",
         "handlers":[  
            "metrics"
         ],
         "standalone":true,
         "interval":15
      },
      "display_metrics":{  
         "type":"metric",
         "command":"display-metrics.rb",
         "handlers":[  
            "metrics"
         ],
         "standalone":true,
         "interval":15
      },
      "interface_metrics":{  
         "type":"metric",
         "command":"interface-metrics.rb",
         "handlers":[  
            "metrics"
         ],
         "standalone":true,
         "interval":15
      },
      "load_metrics":{  
         "type":"metric",
         "command":"load-metrics.rb",
         "handlers":[  
            "metrics"
         ],
         "standalone":true,
         "interval":15
      },
      "memory_metrics":{  
         "type":"metric",
         "command":"memory-metrics.rb",
         "handlers":[  
            "metrics"
         ],
         "standalone":true,
         "interval":15
      },
      "wireless-ap_metrics":{  
         "type":"metric",
         "command":"wireless-ap-metrics.rb",
         "handlers":[  
            "metrics"
         ],
         "standalone":true,
         "interval":15
      },
      "uptime_metrics": {
         "type":"metric",
         "command":"uptime-metrics.rb",
         "handlers":[
            "metrics"
         ],
         "standalone":true,
         "interval":60
      }
   }
}
