{
	"client": {
		"name": "your.host.name",
		"address": "127.0.0.1",
		"subscriptions": ["all"],
		"version": "0.14.0"
	},
	"rabbitmq": {
		"host": "remote.rabbitmq.server",
		"port": 5672,
		"user": "guest",
		"password": "guest",
		"vhost": "/sensu"
	}	
}
